html {
  font-size: 55%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif, Times, serif, Courier, monospace;
  font-size: 16px;
  margin: 0;
}

