html {
  font-size: 55%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif, Times, serif, Courier, monospace;
  font-size: 16px;
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2E1C12 #FFFFFF;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2E1C12;
  border-radius: 20px;
  border: 3px solid #FFFFFF;
}